<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="img/favicon.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Havam nasıl hakkımızda</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="home_scripts.js"></script>
</head>

<body>

    <!-- animasiyo başlangici-->

    <style>
        @keyframes background2 {

            /* resimler ile bir animasyon yapacaz*/
            0% {
                background-image: url(img/ilkbahar2.jpg);
            }

            25% {
                background-image: url(img/K─▒s╠º.jpg);
            }

            50% {
                background-image: url(img/Sonbahar.jpg);
            }

            75% {
                background-image: url(img/Yaz.jpg);
            }

            100% {
                background-image: url(img/ilkbahar2.jpg);
            }
        }
    </style>
    <!-- animasiyo bitişi-->


    <header class="kontiner">
        <nav>
            <div class="HAVA2">
                <a href="/">ANA sayfa</a>
            </div>
            <div class="MENU">
                <ul>
                    <li>
                        <a class="<%= link === 'Haberler' && 'active' %>" href="/news">Haberler</a>
                    </li>
                    <li>
                        <a class="<%= link === 'Hakkımızda' && 'active' %>" href="/about">Hakkımızda</a>
                    </li>
                    <li>
                        <a class="<%= link === 'İletişim' && 'active' %>" href="/communication">İletişim</a>

                    </li>

                </ul>

            </div>

        </nav>
    </header>

    <div class="app2">
        <div class="header">
            <h1>Hakkımızda</h1>
        </div>
        <div class="content2">
            Hava durumu ya da kısaca hava, yaşam ve insan aktiviteleri üzerindeki etkisini de göz önüne almak koşuluyla
            atmosferin belirli bir anda, belirli bir bölgedeki hali. Bazen çoğul olarak havalar şeklinde kullanılır.
            Hava durumu kavramı ile genellikle uzun dönemde gerçekleşen yani iklimsel değişimler değil, atmosferdeki
            kısa dönemde gerçekleşen değişimler kastedilir. Gökyüzünün görüş, bulutluluk, nem, yağış, sıcaklık ve rüzgâr
            durumu gibi çeşitli özelliklerini ifade eder.

        </div>

    </div>


    <div class="Hakımızdailetişim">
        <div class="hakkımda">

            <div class="hakkımda2">

                <br>
                <div class="foto">
                    <img src="img/ilkbahar2.jpg" alt="abdulbari" style="border-radius: 80%; height: 100px; width: 140px;">

                </div>
                <p>Merhaba ben Bilgekul , Fırat üniversitesinde eğitim görmekteyim ,bizim projemiz Hava Durumu web
                    sitesi bizler bunu Veri Tabanı Dersi kapsamında Geliştirmeye karar verdik. Ben Backend developer
                    olarak projeye katkı sağladım,iyi günler dileriz.</p>
                <h4>Bilgekul Kadirhan</h4>
                <br>
                <div>
                    <a href="mailto:abdulbarisoylemez21@gmail.com" style="padding: 10px;"> <img
                            src="img/icons8-secured-letter.gif" alt="Email" style=" width: 40px;
                        height: 30px;"></a>

                    <a href="https://www.linkedin.com/in/abdulbari-söylemez-516883210/" style="padding: 10px;"> <img
                            src="img/icons8-linkedin-circled.gif" alt="linkedin" style=" width: 40px;
                        height: 30px;"></a>
                    <a href="https://github.com/zero2172" style="padding: 10px;"> <img src="img/icons8-github.gif"
                            alt="github" style=" width: 40px;
                    height: 30px;"></a>

                </div>
            </div>


        </div>

        <div class="hakkımda">

            <div class="hakkımda2">
                <br>
                <div class="foto">
                    <img src="./img/ilkbahar2.jpg" alt="abdulbari" style="border-radius: 80%; height: 100px; width: 140px;">

                </div>
                <p>
                    Merhaba ben Ömer , Fırat üniversitesinde eğitim görmekteyim ,bizim projemiz Hava Durumu web sitesi
                    bizler bunu Veri Tabanı Dersi kapsamında Geliştirmeye karar verdik. Ben Backend developer olarak
                    projeye katkı sağladım,iyi günler dileriz.
                </p>
                <h4>Ömer öztürk</h4>
                <br>
                <div>
                    <a href="mailto:abdulbarisoylemez21@gmail.com" style="padding: 10px;"> <img
                            src="./img/icons8-secured-letter.gif" alt="Email" style=" width: 40px;
                        height: 30px;"></a>

                    <a href="https://www.linkedin.com/in/abdulbari-söylemez-516883210/" style="padding: 10px;"> <img
                            src="./img/icons8-linkedin-circled.gif" alt="linkedin" style=" width: 40px;
                        height: 30px;"></a>
                    <a href="https://github.com/zero2172" style="padding: 10px;"> <img src="./img/icons8-github.gif"
                            alt="github" style=" width: 40px;
                    height: 30px;"></a>

                </div>
            </div>
        </div>



        <div class="hakkımda">

            <div class="hakkımda2">
                <br>
                <div class="foto">
                    <img src="./img/ilkbahar2.jpg" alt="abdulbari" style="border-radius: 80%; height: 100px; width: 140px;">

                </div>
                <p>
                    Merhaba ben Furkan , Fırat üniversitesinde eğitim görmekteyim ,bizim projemiz Hava Durumu web sitesi
                    bizler bunu Veri Tabanı Dersi kapsamında Geliştirmeye karar verdik. Ben front-end developer olarak
                    projeye katkı sağladım,iyi günler dileriz.
                </p>
                <h4>Furkan karaca</h4>
                <br>
                <div>
                    <a href="mailto:abdulbarisoylemez21@gmail.com" style="padding: 10px;"> <img
                            src="./img/icons8-secured-letter.gif" alt="Email" style=" width: 40px;
                        height: 30px;"></a>

                    <a href="https://www.linkedin.com/in/abdulbari-söylemez-516883210/" style="padding: 10px;"> <img
                            src="./img/icons8-linkedin-circled.gif" alt="linkedin" style=" width: 40px;
                        height: 30px;"></a>
                    <a href="https://github.com/zero2172" style="padding: 10px;"> <img src="./img/icons8-github.gif"
                            alt="github" style=" width: 40px;
                    height: 30px;"></a>

                </div>
            </div>
        </div>

        <div class="hakkımda">

            <div class="hakkımda2">
                <br>

                <div class="foto">
                    <img src="./img/ilkbahar2.jpg" alt="abdulbari" style="border-radius: 80%; height: 100px; width: 140px;">

                </div>
                <p>Merhaba ben Abdulbari , Fırat üniversitesinde eğitim görmekteyim ,bizim projemiz Hava Durumu web
                    sitesi bizler bunu Veri Tabanı Dersi kapsamında Geliştirmeye karar verdik. Ben front-end developer
                    olarak projeye katkı sağladım,iyi günler dileriz.</p>

                <h4>abdulbari Söylemez</h4>
                <br>
                <div>
                    <a href="mailto:abdulbarisoylemez21@gmail.com" style="padding: 10px;"> <img
                            src="./img/icons8-secured-letter.gif" alt="Email" style=" width: 40px;
                        height: 30px;"></a>

                    <a href="https://www.linkedin.com/in/abdulbari-söylemez-516883210/" style="padding: 10px;"> <img
                            src="./img/icons8-linkedin-circled.gif" alt="linkedin" style=" width: 40px;
                        height: 30px;"></a>
                    <a href="https://github.com/zero2172" style="padding: 10px;"> <img src="./img/icons8-github.gif"
                            alt="github" style=" width: 40px;
                    height: 30px;"></a>

                </div>

            </div>
        </div>
    </div>

</body>

</html>